# dependencies
node_modules/

# build packages
dist/
build/

# misc
*.log
npm-debug.log
.DS_Store
.vscode/
specs
.claude

# env files
*.env
*.env.local

#logs
logs
account-*.*
console-output-*.*

# testing
coverage/
.nyc_output/
*.lcov
